addons/n8n/workflows/hello-mattermost.json
{
  "name": "Hello Mattermost",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hello",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "td-hello-mm"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channelId": "town-square",
        "message": "=:wave: Hello from n8n! Webhook hit at {{$now.toISO()}}.\n\nPayload body: ```{{JSON.stringify($json.body)}}```"
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Mattermost (pi-bot)",
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        520,
        300
      ],
      "credentials": {
        "mattermostApi": {
          "name": "Mattermost (pi-bot)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"posted_to\": \"town-square\"\n}",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Mattermost (pi-bot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mattermost (pi-bot)": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "td-proxmox",
    "starter"
  ],
  "meta": {
    "description": "Smoke test that the Mattermost credential works. POST anything to /webhook/hello and watch the bot post into the town-square channel. If the channel ID is wrong for your install, edit the Mattermost node — channelId can be a channel slug ('town-square') or a 26-char UUID.",
    "stack_dependencies": {
      "required_apps": [
        "mattermost",
        "n8n"
      ],
      "optional_apps": [],
      "required_features": []
    },
    "addon_dependencies": [
      "setup-mattermost"
    ]
  }
}
